{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <h2>Bienvenue {{app.user.firstname}}</h2>
            <p><a href="{{path('account_password')}}">Modifier votre mot de passe</a></p>
        </div>
    </div>
{% endblock %}
