{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}
    <div class="columns">
        {% for product in products %}
            <div class="column">
                <h3>{{product.name}}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
