{% extends 'base.html.twig' %}

{% block content %}
   <div class="columns mt-6">
        <div class="column is-three-fifths is-offset-one-fifth">
            <h1 class="mb-5 is-size-3">Formulaire d'inscription</h1>
            {{ form(form)}}
        </div>
   </div>


{% endblock %}
